body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
}
